name: Build and Create Release

on:
  push:
    branches: [ "main" ]

jobs:
  check-tag:
    name: Check build tag
    runs-on: ubuntu-latest
    outputs: 
        releaseExists: ${{ steps.check-tag.outputs.exists }}
    steps:
      - uses: actions/checkout@v4

      - name: Get Package version
        id: get-version
        uses: kzrnm/get-net-sdk-project-versions-action@v1
        with:
          proj-path: Knuckle.Is.Bones.OpenGL/Knuckle.Is.Bones.OpenGL.csproj

      - uses: mukunku/tag-exists-action@v1.6.0
        id: check-tag
        with: 
          tag: 'v${{ steps.get-version.outputs.package-version }}'

  createRelease:
    name: Build and Create Release
    needs: check-tag
    if: needs.check-tag.outputs.releaseExists == 'false'
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Compile project as publish files (WINDOWS)
        run: dotnet publish .\Knuckle.Is.Bones.OpenGL\Knuckle.Is.Bones.OpenGL.csproj --configuration Release /p:PublishProfile="windows.pubxml"

      - name: Compile project as publish files (LINUX)
        run: dotnet publish .\Knuckle.Is.Bones.OpenGL\Knuckle.Is.Bones.OpenGL.csproj --configuration Release /p:PublishProfile="linux.pubxml"

      - name: Compile .ISS to .EXE Installer
        uses: Minionguyjpro/Inno-Setup-Action@v1.2.2
        with:
          path: inno.iss
          options: /O+

      - name: Compress build files (WINDOWS)
        uses: vimtor/action-zip@v1.2
        with:
          files: Output/net10.0/win-x64/publish/
          dest: Output/windows.zip

      - name: Compress build files (LINUX)
        uses: vimtor/action-zip@v1.2
        with:
          files: Output/net10.0/linux-x64/publish/
          dest: Output/linux.zip

      - name: Get Package version
        id: get-version
        uses: kzrnm/get-net-sdk-project-versions-action@v1
        with:
          proj-path: .\Knuckle.Is.Bones.OpenGL\Knuckle.Is.Bones.OpenGL.csproj

      - uses: game-ci/steam-deploy@v3
        with:
          username: ${{ secrets.STEAM_USERNAME }}          
          configVdf: ${{ secrets.STEAM_CONFIG_VDF}}          
          appId: 4456210
          buildDescription: "v${{ steps.get-version.outputs.package-version }}"
          depot1Path: Output/net10.0/win-x64/publish/
          depot2Path: Output/net10.0/linux-x64/publish/
          releaseBranch: default
          rootPath: ./
          
      - name: Create Tag
        uses: jaywcjlove/create-tag-action@main
        with:
          version: "v${{ steps.get-version.outputs.package-version }}"
      
      - name: Generate Release
        uses: ncipollo/release-action@v1
        with:
          skipIfReleaseExists: true
          artifacts: "Output/KnuckleIsBonesSetup.exe,Output/*.zip"
          tag: "v${{ steps.get-version.outputs.package-version }}"
          generateReleaseNotes: true

  testBuild:
    name: Build and Test
    needs: check-tag
    if: needs.check-tag.outputs.releaseExists == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: dotnet build
